@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{
    background-color: #a4a485;
}
header{
    background: linear-gradient(to top,#4E5735,#42472B);
    align-items: center;
    padding: 3px;
    border-radius: 10px;
    justify-content: center;
}
.tit1{
color: #ecbe36;
text-align: center;
margin-bottom: 0%;
font-family: "Great Vibes",cursive;
font-size: 300%;
}
.tit2{
    text-align: center;
    margin-top: -1px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    color: #ecbe36;
}
ul{
    display: flex;
    list-style: none;
    color: white;
    font-size:large;
}
ul li:hover{
    color: #ecbe36;
    cursor: pointer;
    font-size: x-large;
}
li{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #a4a485;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 15px;
    text-align: center;
}
.logo{
    display: block;
    margin: 0 auto;
    max-width: 20%;
    height: auto;
    border-radius: 12px;
    padding: 10px;
}
.ubicacion{
    display: flex;
   justify-content: flex-end;
    align-items: flex-end;
}
iframe{
    padding-right: 50px;
    width: 250px;
    height: 250px;

}
footer{
    text-align: center;
}
.imagenfondo{
    background-image: url("baner.png");
    background-size: 100% 100%;
    background-position:center;
    background-repeat: no-repeat;
    height: 600px;
    width: auto;
justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    border-radius: 15px;
}
.fondooscuro{
 background-color: rgba(193, 191, 191, 0.375);
 height:77%;
 width: 15%;
 padding: 50px;
 border-radius: 10px;
 margin-left: 60%;
 color: white;
 
}
.boton{
    background-color: #4E5735;
    color: #ecbe36;
    border: none;
    padding: 10px 40px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    margin-top: 100px;
    border-radius: 10px;
} 
.boton:hover{
    background-color: #42472B;
    cursor: pointer;
}
.Bebidas{
    text-align: center;
    justify-content: center;
    justify-items: center;
}
marquee{
    direction: left;
    scroll-behavior: initial;
}
.Populares{
    display: flex;  
}
.Populares img{
    width: 150px;
    margin: 20px;
}
main{
    justify-content: center;
    justify-items: center;
}
.contenidoprod{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color:#42472B;
    gap: 30px;
    border-radius: 15px;

}
.product{
    background-color: #a4a485;
    border: #060606;
    justify-content: center;
    margin: 25px;
    text-align: center;
    border-radius: 10px;
}
.product img {
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 40px;
}
.precio{
    display: flex;
    justify-content: space-around;
}
.product h3{
    background-color: hsl(0, 13%, 91%);
    padding: 5px;
    margin-top: 1px;
}
.precio p{
    background-color: #ecbe36;
    padding: 5px;

}
.precio button {
    border:2px,solid,#ecbe36 ;
    border-radius: 5px;
    background-color: #a4a485;
    color: white;
    padding: 5px 30px;
    margin : 5px;
}
